@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* base rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
    /* 100% = 16px */
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: var(--text-primary);
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


/* theme */
:root{
    --white: #ffffff;
    --black: #000000;
    --black-50: rgba(0, 0, 0, 0.502);
    --btn-primary: #4E47FF;
    --btn-hover: #4d47ff00;
    --bg-primary: #F5F8FF;
    --bg-secondary: #E5E7FF;
    --text-primary: #252432;
    --text-secondary: rgba(37, 36, 50, 0.5);
    --text-tertiary: #b3b3b3;
    --footer-text: #8987A1;
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Inter", sans-serif;
}


/* layout */

.container{
    width: 90%;
    margin: 0 auto;
}

/* module / reusable */

.btn{
    background-color: var(--btn-primary);
    padding: 1.2rem 3rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.logo--span{
  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
  font-weight: 700;
  font-size: inherit;
  display: inline-block;
  transform: scale(1.6);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}

.btn:hover{
    background-color: var(--btn-hover);
    border: 0.2rem solid var(--btn-primary);
    color: var(--text-secondary);
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* state  */

/***** header Section *****/ 

.section-header{
    width: 100%;
    height: 100vh;
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
}

/***** navbar Section *****/ 

.section-nav{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}

.section-nav--logo{
    color: var(--btn-primary);
    font-size: 3.4rem;
    font-family: var(--font-secondary);
    letter-spacing: 0.2rem;
}

/***** End navbar Section *****/

/***** hero Section *****/ 

.section-hero{
    width: 63%;
    margin: 15.8rem auto 0;
    text-align: center;
}

.section-hero--heading{
    font-size: 6.5rem;
    margin-bottom: 3.7rem;
}

/***** End hero Section *****/


/***** End header Section *****/

/***** main Section *****/ 

.section-main{
    background-color: var(--bg-primary);
}

/***** action Section *****/ 

.section-action{
    display: flex;
    align-items: center;
    gap: 22rem;
}

.section-action--content, .section-action--image{
    margin-top: 11.6rem;
}

.section-action--heading{
    font-size: 4.2rem;
}

.section-action--details{
    margin: 2.3rem 0;
    font-size: 2.4rem;
    color: var(--text-secondary);
}

.section-action--image{
    border-radius: 4.8rem;
    -webkit-border-radius: 4.8rem;
    -moz-border-radius: 4.8rem;
    -ms-border-radius: 4.8rem;
    -o-border-radius: 4.8rem;
}

/***** End action Section *****/

/***** productive user Section *****/ 

.section-productive-user{
    margin: 11.6rem 0 13.7rem;
    padding: 5rem 14.2rem;
    background-color: var(--bg-secondary);
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
}

.section-productive-user--heading{
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 4rem;
}

.section-productive-user--content{
    display: flex;
    justify-content: space-between;
}

.productive-user--content-item{
    text-align: center;
}
.productive-user--content-item p{
    font-family: var(--font-secondary);
}

.productive-user--content-item p:first-child{
    color: var(--btn-primary);
    font-size: 8rem;
    font-weight: bold;
}

.productive-user--content-item p:last-child{
    color: var(--black-50);
    font-size: 2rem;
}

/***** End productive user Section *****/

/***** review Section *****/ 

.section-review{
    margin-bottom: 13.7rem;
}

.section-review--heading{
    margin-bottom: 5rem;
    font-size: 4.2rem;
    text-align: center;
}

.section-review--content{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.review--content-item{
    width: 29.8%;
    height: 22rem;
    background-color: var(--white);
    padding: 2.4rem;
    border-radius: 1.4rem;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    -ms-border-radius: 1.4rem;
    -o-border-radius: 1.4rem;
}

.review-content-item--ratings{
    margin-bottom: 2.4rem;
}

.review-content-item--heading{
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
}

.review-content-item--details{
    margin-bottom: 2.4rem;
}

.reviewer-info{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.reviewer-info--image{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reviewer-info--data p:first-child{
    color: #757575;
    margin-bottom: 1rem;
}

.reviewer-info--data p:last-child{
    color: var(--text-tertiary);
}

/***** End review Section *****/

/***** focus Section *****/ 

.section-focus{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.1rem 15rem;
    border-radius: 1.4rem;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    -ms-border-radius: 1.4rem;
    -o-border-radius: 1.4rem;
}

.section-focus--heading{
    font-size: 5rem;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
}

.section-focus--details{
    margin: 2rem 0 4rem;
    color: var(--black-50);
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.section-focus--btn-started{
    margin-bottom: 2rem;
}

.section-focus--image{
    border-radius: 4.8rem;
    -webkit-border-radius: 4.8rem;
    -moz-border-radius: 4.8rem;
    -ms-border-radius: 4.8rem;
    -o-border-radius: 4.8rem;
}

/***** End focus Section *****/

/***** news letter Section *****/ 

.section-news-letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.1rem 0;
}

.news-letter--heading{
    font-size: 9.6rem;
}

.news-letter--form{
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.news-letter-form--item label,
.news-letter-form--item input,
.news-letter-form--item textarea{
    display: block;
}

.news-letter-form--item label{
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.news-letter-form--item input,
.news-letter-form--item textarea{
    width: 49.7rem;
    padding: 2rem 3.2rem;
    font-size: 1.7rem;
    letter-spacing: 0.15rem;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.news-letter-form--item input{
    height: 7rem;
}

.news-letter-form--item textarea{
    height: 13.5rem;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.news-letter-form--item input:focus,
.news-letter-form--item textarea:focus{
    outline: 0.2rem solid var(--btn-primary);
}

/***** End news letter Section *****/

/***** End main Section *****/



/***** footer Section *****/ 

.section-footer{
    margin: 10.4rem 29%;
    text-align: center;
}

.section-footer--logo{
    margin-bottom: 2rem;
    font-size: 10rem;
    color: var(--btn-primary);
}

.section-footer--details{
    margin-bottom: 4rem;
    color: var(--footer-text);
    font-size: 1.7rem;
}

.section-footer--link{
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    font-size: 1.7rem;
}

.footer-link--item a{
    color: var(--footer-text);
}

/***** End footer Section *****/

